// Background-color
$bgColorMain: #000;
$bgButton: rgb(37, 54, 17);
$bgButtonHover: rgb(162, 255, 55);
$bgButtonHero: rgb(70, 54, 99);
$bgButtonHeroHover: rgb(185, 147, 255);

// Color Text
$colorMain: rgb(183, 255, 95);
$colorHero: rgb(176, 134, 255);
$colorHeroInfo: rgb(208, 184, 254);
$colorButtonHover: #000;

//ColorPreloader
$colorPreloaderGreen: rgb(183, 255, 95);
$colorPreloaderBlack: #000;
